<html>
<head>
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/user/add">
        <input name="name" value="">
        <input name="email" value="">
        <button type="submit">submit</button>
    </form>
</body>
</html>